@model List<QuizGameASP.Models.Category>

<!--<link href="/Content/CategoryChoose.css" rel="stylesheet" type="text/css" />-->

<style>
    #category-container {
        width: 100%;
        display: none;
    }

     .category-form
     {
         margin-left: auto;
         margin-right: auto;
         width: 80%;
     }

    .category-button
    {
        width: 100%;
        height: 70px;
        background-color: #5dbbff;
        border-radius: 20px 20px 20px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: 0;
        font-weight: bold;
        font-size: 30px;
        color: white;
    }

    .category-button:hover
    {
        background-color: #b6ffff;
    }
</style>

<div id="category-container">
@{
    foreach (var category in Model)
    {
        <div class="category-form">
            @{
                string url = "/Game/Questions/" + category.Name;
                <button class="category-button">@category.Name</button>
            }
       </div>
    }
}
</div>

<script>
    setTimeout(function() {
        $("#category-container").show("slow");
    }, 500);

    $(".category-button").click(function() {
        var category = $(this).text();
        window.location = "/Game/Round?matchID=" + matchID + "&categoryName=" + category;
    });

    //matchID z poprzedniego pliku, bo zapytanie AJAX
</script>

<!--<script src="/Scripts/CategoryChooseScripts.js"></script>-->
