@model List<QuizGameASP.Models.Category>

<!--<link href="/Content/CategoryChoose.css" rel="stylesheet" type="text/css" />-->

<div id="category-container">
@{
    foreach (var category in Model)
    {
        <div class="category-form">
            @{
                string url = "/Game/Questions/" + category.Name;
                <button class="category-button">@category.Name</button>
            }
       </div>
    }
}
</div>

<script>
    $("#category-container").show("slow");

    $(".category-button").click(function() {
        var category = $(this).text();
        window.location = "/Game/Round?matchID=" + matchID + "&categoryName=" + category;
    });

    //matchID z poprzedniego pliku, bo zapytanie AJAX
</script>

<!--<script src="/Scripts/CategoryChooseScripts.js"></script>-->
