
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game Management</h2>

<ul>
    <li>@Html.ActionLink("Category Manager", "Index", "CategoryManager")</li>
    <li>@Html.ActionLink("Question Manager", "Index", "QuestionManager")</li>
</ul>

