@model IEnumerable<QuizGameASP.Models.Match>

<!--FORMY CZY JAVASCRIPT?-->

<style>
    .match-queue-title {
        text-align: center;
        color: white;
    }
</style>

<div class="match-queue-container">
    <div class="match-queue-title">
        <h2>Mecze</h2>
    </div>
    @foreach (var match in Model)
    {
        <form action="/Game/Match?id=@match.ID" method="post" class="menu-form">
            @{
                string text = match.Player1.Login;
                text += " vs ";
                if (match.Player2 == null)
                {
                    text += "null";
                }
                else
                {
                    text += match.Player2.Login;
                }
                text += " ID: " + match.ID;
            }
            <input type="submit" class="menu-button" value="@text">
        </form>
    }
</div>